*{
    box-sizing: border-box;
}

*:focus{
    outline: 2px dotted #2959CE;
    outline-offset: 2px;
}

html{
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background: #F6F6F6;    
    padding-bottom: 30px;
    margin-bottom: 10px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #30444E;
    background-color: #ffffff;

}
.container{
    max-width: 1160px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.site-header{
    border-bottom: 1px solid gray; 
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 40px 40px;

}

.site-header-nav{
    display: flex;
}

.site-header-logo{

}
.site-header-img{
    margin-right: 50px;
}
.site-header-img:hover{
    opacity: 0.8;
}
.site-header-img:active{
    opacity: 0.6;
}

.header-navigation{
    
}

.header-list{
    display: flex;
}

.header-item{
    margin-left: 30px;
    list-style-type: none;
}
.header-item:not(:last-child){
    margin-right: 30px;
}

.header-link{
    text-decoration: none;
    color: rgba(31, 46, 53, 0.8);
}
.header-link:hover{
    color: #EE4248;
}
.header-link:active{
    opacity: 0.6;
}

.logo{
    align-items: center;
    display: flex;
    margin-left: 50px;
    cursor: pointer;
}

.site-icon{
    margin-left: 24px;
}

.site-icon:hover{
    opacity: 0.8;
}
.site-icon:active{
    opacity: 0.6;
}



.section-header{
    display: flex;
}

.section-title{
    margin-top: 125px;
    width: 545px;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #1F2E35;
}
.section-title>span{
    font-weight: 600;
    color: #EE4248;
}
.section-info{
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #30444E;
    width: 550px;
    margin-top: 24px;
}

.section-button{
    width: 161px;
    color: #ffffff;
    padding: 12px 32px;
    background-color: #EE4248;
    border-radius: 4px;
    margin-top: 24px;
    cursor: pointer;
}

.section-button:hover{
    opacity: 0.8;
}
.section-button:active{
    opacity: 0.6;
}

.section-img{
    margin-top: 110px;
}
.section-two{
    background-color: #F6F6F6;
}
.section-two-heading{
    display: flex;
    margin-top: 165px;
}
.section__img{
    
}
.section-information{
    margin-left: 96px;
}
.section-heading{
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    color: #1F2E35;
}
.section-heading>span{
    color: #EE4248;
}

.section-three{

}

.section-three-header{
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
    color: #1F2E35;
    margin-left: 400px;
    margin-top: 116px;
}

.section-three-list{
    display: flex;
}

.section-three-item{
    list-style-type: none;
}

.section-three-title{
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;
    color: #EE4248;
}
.section-three-info{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #30444E;
    margin-top: 15px;
}

.bottom-button{
    padding: 8px 16px;
    width: 119px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.section-four-contact{
    display: flex;
}
.section-address{
    margin-top: 138px;
}
.address-logo:hover{
    opacity: 0.8;
}
.address-logo:active{
    opacity: 0.6;
}
.address-header{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #263238;
}

.address-info{
    width: 300px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    margin-top: 8px;
}

.section-call{
    margin-top: 161px;
    margin-left: 47px;
}

.contact{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #263238;
}
.phone{
    margin-top: 15px;
}

.site-footer{
    background-color: #EE4248;
    padding: 22px 528px;
    margin-top: 24px;

}

.footer-info{
    width: 382px;
    color: #ffffff;
    margin-left: 160px;
}